<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"> <!-- alyout을 넣어줘야 한다 -->

<head>
    <meta charset="UTF-8">
    <title>쇼핑몰 프로젝트</title>

    <!-- jQuery, popper, bootstrap(사이트 들어가서 docs로 그이후 download로 이동 거기에서 cdn via jsDelivr에서 코드를 가지고 온다) 추가 -->
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js" integrity="sha512-TPh2Oxlg1zp+kz3nFA0C5vVC6leG/6mm1z9+mA81MI5eaUVqasPLO8Cuk4gMF4gUfP5etR73rgU/8PNMsSesoQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    <link th:href="@{/css/layout1.css}" rel="stylesheet">

    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script> <!--주소 api -->
    <script src="/js/daumAddressScript.js"></script> <!-- 기본 경로에 static이 붙어 있기 붙일필요가 없다(중요) 주소 api -->

    <!-- 중복검사 -->
    <script src="/js/regiest.js"></script>

    <!-- js,css -->
    <th:block layout:fragment="script"></th:block>
    <th:block layout:fragment="css"></th:block>
</head>
<body>
<div th:replace="~{fragments/header::header}"></div> <!-- header::header는  header라는 파일에 있는 th:fragment="header"를 가지고 온다는 뜻이다 -->

<div layout:fragment="content" class="content">

</div>

<div th:replace="~{fragments/footer::footer}"></div>
</body>
</html>