<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}"
>

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/member/memberList.css}" rel="stylesheet">
    <script src="/js/member/memberList.js"></script>
</head>


<body>
<div layout:fragment="content">


    <!--등록된 회원들을 출력 -->
    <a href="memberRegist" >회원등록</a> <br/>

    <table id="memberList">
        <!-- 회원 조회하기 -->
        <form action="memberList" method="get">
        <tr>
            <td colspan="6">
                검색:
                <input type="search" name="searchWord" size="60"/>
                <input type="submit" value="검색">
            </td>

        </tr>
        </form>

        <!-- 체크한 사람들을 삭제 -->
        <form action="membersDelete" method="post" id="frm">
            <!-- 테이블 헤더 -->
            <tr>
                <td>회원번호</td>
                <td>이름</td>
                <td>이메일</td>
                <td>등록일</td>
                <td>
                    <input type="checkbox" id="checkBoxs"/>
                    <input type="submit" value="전체 삭제" />
                </td>
            </tr>

            <!-- 상세보기 및 회원정보 수정 그리고 @validated를 이용한 유효성 검사 와 회원 강제 탈퇴 -->
            <tr th:each="dto : ${dtos}">
                <td>[[${dto.id}]]</td>
                <!--memberName 매개변수명 -->
                <td><a th:href="|memberDetail?memberName=${dto.memberName}|">[[${dto.memberName}]]</a></td>
                <td><a th:href="@{memberDetail(memberName=${dto.memberName})}">[[${dto.memberEmail}]]</a></td>
                <td th:text="${#dates.format(dto.regDate, 'yyyy-MM-dd')}"></td>
                <td>
                    <input type="checkbox" name="memDels" th:value="${dto.id}" />
                    <input type="button"  value="삭제" th:attr="onclick=|del('${dto.id}');|"/>
                </td>
            </tr>
            <tr th:if="${#lists.isEmpty(dtos)}">
                <td colspan="5">검색 결과가 없습니다.</td>
            </tr>

            <tr align="center">
                <td colspan="5">
                    <th:block th:if="${currentPage <= 0}">
                        [이전]
                    </th:block>
                    <th:block th:if="${currentPage > 0}">
                        <a th:href="@{memberList(page=0, searchWord=${searchWord})}">[이전]</a>
                    </th:block>

                    <th:block th:each="pageNum : ${#numbers.sequence(0, totalPages - 1)}">
                        <a th:href="@{memberList(page=${pageNum}, searchWord=${searchWord})}"
                           th:text="${pageNum + 1}"
                           th:class="${currentPage == pageNum} ? 'active-link' : ''"></a>
                    </th:block>

                    <th:block th:if="${currentPage >= totalPages - 1}">
                        [다음]
                    </th:block>
                    <th:block th:if="${currentPage < totalPages - 1}">
                        <a th:href="@{memberList(page=${totalPages - 1}, searchWord=${searchWord})}">[다음]</a>
                    </th:block>
                </td>
            </tr>

            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        </form>


    </table>



</div>
</body>
</html>